<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Hello, {{name}}</p>

  <p>We received a request to change your password account.</p>
  <p>If it was you, click in the link below. You will be redirected to the password reset form.</p>
  <p>
    <a href="{{link}}">Reset my password</a>
  </p>

  <p>If it wasn't you, ignore this e-mail.</p>
</div>
